<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <mappers>
        <mapper resource="org/mybatis/example/BlogMapper.xml"/>
        <mapper class="top.gmfcj.mapper.AdminMapper" />
        <mapper url="" />
        <package name="top.gmfcj.mapper" />
    </mappers>
</configuration>